* {
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    text-align: center;
}

.container {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.buttons {
}

button {
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    font-size: large;
    background-color: aquamarine;
}

button:hover{
    background-color: yellow;
    cursor: pointer;
}